.about {
  padding-top: 140px;
  &__content {
    display: grid;
    grid-template-columns: 400px 570px;
    gap: 70px;
  }
  &__info {
    padding-top: 9px;
  }
  &__subtitle {
    line-height: 24px;
    position: relative;
    @include before_circle;
    padding-left: 10px;
  }
  &__title {
    margin-top: 6px;
  }
  &__divider {
    margin-top: 4px;
    width: 60px;
    height: 0px;
    border: 2px solid $main-color;
  }
  &__descr {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000;
  }
  &__skills {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: repeat(2, minmax(116px, auto));
    gap: 20px 50px;
    &-item {
      display: flex;
      align-items: flex-start;
      img {
        position: relative;
        @include before_circle;
        z-index: -2;
      }
      & > div {
        margin-left: 20px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000;
        .item-descr {
          margin-top: 6px;
        }
      }
    }
  }
}
