.skills {
  padding-top: 120px;
  &__list {
    margin-top: 60px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, minmax(270px, auto));
    gap: 13px;
  }
  &__item {
    border: 1px solid #000;
    padding: 30px 29px 25px 30px;
    &-img {
      height: 85px;
    }
    &-title {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
    }
    &-descr {
      margin-top: 15px;
      font-size: 12px;
      line-height: 18px;
    }
  }
  &__ratings {
    margin-top: 120px;
    display: grid;
    grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 350px);
    column-gap: 45px;
    row-gap: 30px;
    &-item {
      display: grid;
      grid-template: minmax(21px, auto) 14px / 200px 35px;
      justify-content: space-between;
      align-content: space-between;
    }
    &-title {
      position: relative;
      padding: 2px 0 0 13px;
      @include before_circle;
    }
    &-counter {
      font-size: 14px;
      line-height: 21px;
    }
    &-line {
      width: 350px;
      height: 14px;
      background-color: #e8e4de;
      border-radius: 4px;
      grid-column: 1 / 3;
      span {
        display: block;
        height: 100%;
        background-color: $main-color;
        border-radius: 4px;
      }
    }
  }
}
